@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

.font-grotesque {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}


@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background: linear-gradient(-45deg, #ef11f7, #151515, #133afb, #ff0000);
  background-size: 400% 400%;
  animation: gradient-x 9s ease infinite;
}

.animate-gradient-b {
  background: linear-gradient(-45deg, #ff0000, #000000, #ffffff, #ff0000);
  background-size: 400% 400%;
  animation: gradient-x 9s ease infinite;
}